.app {
  top: 0;
  bottom: 0;
  background-image: url("https://source.unsplash.com/1600x900/?nature,water");
  /* background-repeat: repeat-y; */
  /* background:scroll; */
  background-size: cover;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  
}
.app > h1{
  font-size: 60px;
  text-decoration: underline;
  text-transform: uppercase;
}
.input_container{
  margin-top: 20px;
  display: flex;
  width: 75vw;
  flex-direction: row;
}

 .app_input{
  margin-top: 20px;
  background-color: white;
  color:black;
  height: 30px;
  padding:10px 20px;
  border-radius: 30px;
  display:flex;

  font-size: 20px;
  margin-bottom: 20px;
}
.app_input:focus{
  outline-width: 0;
}
.input_container > .app_button{
  display: flex;
  text-align: center;
  border-radius: 40px;
  font-size:20px;
  margin-bottom: 20px;
  background-color: gray;
}
.app_items{

  margin-right: 80px;
  margin-left: 20px;

}